<font color="green"><p id="notice"><%= notice %></p></font>

<% if user_signed_in? && current_user.username == @user.username %>
    <h1>
        Bem vindo, <%= current_user.username %>
    </h1>
    <body>
        <p>
            Email: <%= current_user.email%>
        </p>

        <p>
            Username: <%=current_user.username%>
        </p>

        <h2>Jogos Ofertados:</h2>

        <p>

          <table class="table table-striped table-dark">

            <tbody>
              <% @user.offereds.each do |offered| %>
                <tr>
                  <td><%= offered.game.title %></td>
                  <td><%= link_to 'Deletar', offered, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>

          </table>

        </p>

        <h2>Jogos Desejados:</h2>

        <p>
          
            <table class="table table-striped table-dark">

              <tbody>
                <% @user.wanteds.each do |wanted| %>
                  <tr>
                    <td><%= wanted.game.title %></td>
                    <td><%= link_to 'Deletar', wanted, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %></td>
                  </tr>
                <% end %>
              </tbody>

            </table>
          
        </p>

<% else %>

    <h1>
        Bem vindo ao perfil do <%= @user.username %>
    </h1>
    <body>
        <p>
            Email: <%= @user.email%>
        </p>

        <h2>Jogos Ofertados:</h2>

        <p>
          <% @user.offereds.each do |offered| %>
              <%= offered.game.title %><br>
          <% end %>
        </p>

        <h2>Jogos Desejados:</h2>

        <p>
          <% @user.wanteds.each do |wanted| %>
              <%= wanted.game.title %><br>
          <% end %>
        </p>

    </body>
<% end %>