<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="field">
    <%= form.text_field :title %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Confirmar", class: "btn btn-primary" %>
  </div>
  <br>

<% end %>
