<font color="green"><p id="notice"><%= notice %></p></font>

<h1>Jogos</h1>

<%= form_tag games_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Buscar", class: "btn btn-secondary" %>
<% end %>
<br>

<% if (user_signed_in?) %>

  <% if (current_user.username == "admin_user") %>
    <td><%= link_to 'CRIAR JOGO', new_game_path, class: "btn btn-primary" %></td><br>
  <% end %>

<% end %>

<br>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <% if (user_signed_in?) %>
        <td><%= link_to 'Adicionar a lista de Oferecidos', new_offered_path(:param1 => game.id, :param2 => game.title), class: "btn btn-secondary" %></td>
        <td><%= link_to 'Adicionar a lista de Desejos', new_wanted_path(:param1 => game.id, :param2 => game.title), class: "btn btn-secondary " %></td>
        

          <% if (current_user.username == "admin_user") %>
            <td><%= link_to 'EDITAR', edit_game_path(game), class: "btn btn-warning" %></td>
            <td><%= link_to 'DELETAR', game, method: :delete, data: { confirm: 'Tem Certeza?' }, class: "btn btn-danger" %></td>
          <% end %>

        <% else %>
          <td><%= link_to 'Adicionar a lista de Oferecidos', new_user_session_path, class: "btn btn-secondary" %></td>
          <td><%= link_to 'Adicionar a lista de Desejos', new_user_session_path, class: "btn btn-secondary" %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>
