<%= form_with(model: offered, local: true) do |form| %>
  <% if offered.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offered.errors.count, "error") %> prohibited this offered from being saved:</h2>

      <ul>
        <% offered.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :user_id, value: current_user.id,:hidden => true%>
  </div>

  <div class="field">
    <%= form.text_field :game_id, value: params[:param1],:hidden => true  %>
  </div>

  <br>
  <h3>Adicionar <%= params[:param2] %> a sua lista de ofertados?</h3>

  <br>
  <div class="actions">
    <%= form.submit "Confirmar", class: "btn btn-secondary" %>
  </div>
  <br>

<% end %>
