<font color="green"><p id="notice"><%= notice %></p></font>

<p>
  <h1>
    Ofertados pela Comunidade
  </h1>
  <h5> 
    <%= link_to "Registrar Jogos no seu Perfil",  {controller: "games", action: "index"}  %>
  </h5>
</p>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Jogo Ofertado</th>
    </tr>
  </thead>

  <tbody>
    <% @offereds.each do |offered| %>
      <tr>
        <td><%= link_to offered.user.username ,{controller: "users", action: "show", id: offered.user.username} %></td>
        <td><%= offered.game.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3></h3>