<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @offered.user.username %>
</p>

<p>
  <strong>Game:</strong>
  <%= @offered.game.title %>
</p>

<%= link_to "Home",  {controller: "offereds", action: "index"}  %>
