.navbar{
    color: #ffffff !important;
    background-color:#323232 !important;
}

body {
   color: #ffffff !important;
   background-color: #424242  !important;
}
.btn {
    font-weight: bold;
}
.navbar-brand{
    font-weight: bold;
}
.nav-link{
    font-weight: bold;
}
table{
    font-weight: bold;
}