<h1>Desejados</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wanteds.each do |wanted| %>
      <tr>
        <td><%= wanted.user_id %></td>
        <td><%= wanted.game_id %></td>
        <td><%= link_to 'Show', wanted %></td>
        <td><%= link_to 'Edit', edit_wanted_path(wanted) %></td>
        <td><%= link_to 'Destroy', wanted, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Home",  {controller: "offereds", action: "index"}  %>