<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wanted.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @wanted.game_id %>
</p>

<%= link_to 'Edit', edit_wanted_path(@wanted) %> |
<%= link_to 'Back', wanteds_path %>
