<!DOCTYPE html>
<html>
  <head>
    <title>GameLink</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <a class="navbar-brand" href="/offereds"><font color="white"> GameLink </font></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/offereds"><font color="white"> Home </font><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/games"><font color="white"> Jogos </font><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <% if user_signed_in? %>
      <% @user= current_user %>
        <%= link_to " Perfil ",  {controller: "users", action: "show", id: current_user.username}, class:"btn btn-secondary"  %>    
        &ensp;
        &ensp;
        <%= link_to " Logout ",  destroy_user_session_path, method: :DELETE , class: "btn btn-secondary" %>
      <%else%>
        <%= link_to " Cadastro ", new_user_registration_path , class: "btn btn-secondary"  %>
        &ensp;
        &ensp;
        <%= link_to " Login ",  new_user_session_path ,  class: "btn btn-secondary" %>
      <% end %>
    </form>
  </div>
</nav>
  <body>
    <div class= "container">
      <%= yield %>
    </div>
  </body>
</html>
